* {
    outline: 1px black solid;
}

header {
    background-color: #8490E8;
}
h1 {
    background-color: #8490E8
}

nav {
    background-color: #9ec3ff;
}

footer {
    background-color: #8490E8;
}

